{% extends "base_templates/index.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'blog/blog_home_style.css' %}">

{% endblock %}

{% block body %}

<div class="blog-homepage">
    {% if is_authenticated %}
    <span><a href="{% url 'blog:create-post' %}">Create Post</a></span>
    {% endif %}
    {% for post in content %}
    <div class="post">
        <h3>
            <a href="{% url 'blog:post-page' post.id %}">{{ post.post_title }} </a>
        </h3>
        {% if post.post_preview %}

        {{post.post_preview}}

        <br />
        {% endif %}
        <span class="date">{{post.updated_at}}</span>
        <br />
        <a href="{% url 'blog:post-page' post.id %}" class="read_more_link">Read More</a>
    </div>
    {% endfor %}
</div>
{% endblock %}