{% extends "base_templates/index.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'blog/blog_post_style.css' %}">

{% endblock %}

{% block body %}

<div class="blog-post">
    <h1 class="post-title">{{post}}</h1>
    <span class="post-date">Published On: {{post.updated_at}}</span>
    {% if is_authenticated %}
    <span><a href="{% url 'blog:edit-post' post.id %}">Edit Post</a></span>
    {% endif %}


    <div class="post-content">
        {{ post.post_body | safe}}
    </div>

    <!-- Optional elements -->
    <div class="post-footer">
        <span class="post-author">Written by: {{post.author}}</span>
    </div>
</div>

{% endblock %}